<a href="https://colab.research.google.com/github/diptokundu/Skill_morph_HW/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

In [ ]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:

In [ ]:
# 1. Display first 10 rows
print("First 10 rows:")
display(df.head(10))

First 10 rows:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
# 2. Show dataset shape and info()
print("\nDataset Shape (rows, columns):", df.shape)
print("\nDataset Info:")
df.info()

Dataset Shape (rows, columns): (1000, 8)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
# 3. Display unique values in each categorical column
print("\nUnique values in gender columns:",df['gender'].unique())
print("\nUnique values in race/ethnicity columns:",df['race/ethnicity'].unique())
print("\nUnique values in parental level of education columns:",df['parental level of education'].unique())
print("\nUnique values in lunch columns:",df['lunch'].unique())
print("\nUnique values in test preparation course columns:",df['test preparation course'].unique())
print("\nUnique values in math score columns:",df['math score'].unique())
print("\nUnique values in reading score columns:",df['reading score'].unique())
print("\nUnique values in writing score columns:",df['writing score'].unique())

Unique values in gender columns: ['female' 'male']

Unique values in race/ethnicity columns: ['group B' 'group C' 'group A' 'group D' 'group E']

Unique values in parental level of education columns: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Unique values in lunch columns: ['standard' 'free/reduced']

Unique values in test preparation course columns: ['none' 'completed']

Unique values in math score columns: [ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]

Unique values in reading score columns: [ 72  90  95  57  78  83  43  64  60  54  52  81  53  75  89  32  42  58
  69  73  71  74  70  65  87  56  61  84  55  44  41  85  59  17  39  80
  37  63  51  49  26  68  45  47  86  34  79  66  67  91 100  76  77  82
  92  93  62  88  50  28  48  46  23  38  94  97  99  31  96  24  29  40]

Unique values in writing score columns: [ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23]

In [ ]:
# 4. Show basic statistics for all score columns
print("Basic statistics for score columns:")
df.describe()

Basic statistics for score columns:

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:

[ 72  69  90  47  76  71  88  40  64  38  58  40  65  78  50  69  88  18
  46  54  66  65  44  69  74  73  69  67  70  62  69  63  56  40  97  81
  74  50  75  57  55  58  53  59  50  65  55  66  57  82  53  77  53  88
  71  33  82  52  58   0  79  39  62  69  59  67  45  60  61  39  58  63
  41  61  49  44  30  80  61  62  47  49  50  72  42  73  76  71  58  73
  65  27  71  43  79  78  65  63  58  65  79  68  85  60  98  58  87  66
  52  70  77  62  54  51  99  84  75  78  51  55  79  91  88  63  83  87
  72  65  82  51  89  53  87  75  74  58  51  70  59  71  76  59  42  57
  88  22  88  73  68 100  62  77  59  54  62  70  66  60  61  66  82  75
  49  52  81  96  53  58  68  67  72  94  79  63  43  81  46  71  52  97
  62  46  50  65  45  65  80  62  48  77  66  76  62  77  69  61  59  55
  45  78  67  65  69  57  59  74  82  81  74  58  80  35  42  60  87  84
  83  34  66  61  56  87  55  86  52  45  72  57  68  88  76  46  67  92
  83  80  63  64  54  84  73  80  56  59  75  85  89  58  65  68  47  71
  60  80  54  62  64  78  70  65  64  79  44  99  76  59  63  69  88  71
  69  58  47  65  88  83  85  59  65  73  53  45  73  70  37  81  97  67
  88  77  76  86  63  65  78  67  46  71  40  90  81  56  67  80  74  69
  99  51  53  49  73  66  67  68  59  71  77  83  63  56  67  75  71  43
  41  82  61  28  82  41  71  47  62  90  83  61  76  49  24  35  58  61
  69  67  79  72  62  77  75  87  52  66  63  46  59  61  63  42  59  80
  58  85  52  27  59  49  69  61  44  73  84  45  74  82  59  46  80  85
  71  66  80  87  79  38  38  67  64  57  62  73  73  77  76  57  65  48
  50  85  74  60  59  53  49  88  54  63  65  82  52  87  70  84  71  63
  51  84  71  74  68  57  82  57  47  59  41  62  86  69  65  68  64  61
  61  47  73  50  75  75  70  89  67  78  59  73  79  67  69  86  47  81
  64 100  65  65  53  37  79  53 100  72  53  54  71  77  75  84  26  72
  77  91  83  63  68  59  90  71  76  80  55  76  73  52  68  59  49  70
  61  60  64  79  65  64  83  81  54  68  54  59  66  76  74  94  63  95
  40  82  68  55  79  86  76  64  62  54  77  76  74  66  66  67  71  91
  69  54  53  68  56  36  29  62  68  47  62  79  73  66  51  51  85  97
  75  79  81  82  64  78  92  72  62  79  79  87  40  77  53  32  55  61
  53  73  74  63  96  63  48  48  92  61  63  68  71  91  53  50  74  40
  61  81  48  53  81  77  63  73  69  65  55  44  54  48  58  71  68  74
  92  56  30  53  69  65  54  29  76  60  84  75  85  40  61  58  69  58
  94  65  82  60  37  88  95  65  35  62  58 100  61 100  69  61  49  44
  67  79  66  75  84  71  67  80  86  76  41  74  72  74  70  65  59  64
  50  69  51  68  85  65  73  62  77  69  43  90  74  73  55  65  80  50
  63  77  73  81  66  52  69  65  69  50  73  70  81  63  67  60  62  29
  62  94  85  77  53  93  49  73  66  77  49  79  75  59  57  66  79  57
  87  63  59  62  46  66  89  42  93  80  98  81  60  76  73  96  76  91
  62  55  74  50  47  81  65  68  73  53  68  55  87  55  53  67  92  53
  81  61  80  37  81  59  55  72  69  69  50  87  71  68  79  77  58  84
  55  70  52  69  53  48  78  62  60  74  58  76  68  58  52  75  52  62
  66  49  66  35  72  94  46  77  76  52  91  32  72  19  68  52  48  60
  66  89  42  57  70  70  69  52  67  76  87  82  73  75  64  41  90  59
  51  45  54  87  72  94  45  61  60  77  85  78  49  71  48  62  56  65
  69  68  61  74  64  77  58  60  73  75  58  66  39  64  23  74  40  90
  91  64  59  80  71  61  87  82  62  97  75  65  52  87  53  81  39  71
  97  82  59  61  78  49  59  70  82  90  43  80  81  57  59  64  63  71
  64  55  51  62  93  54  69  44  86  85  50  88  59  32  36  63  67  65
  85  73  34  93  67  88  57  79  67  70  50  69  52  47  46  68 100  44
  57  91  69  35  72  54  74  74  64  65  46  48  67  62  61  70  98  70
  67  57  85  77  72  78  81  61  58  54  82  49  49  57  94  75  74  58
  62  72  84  92  45  75  56  48 100  65  72  62  66  63  68  75  89  78
  53  49  54  64  60  62  55  91   8  81  79  78  74  57  40  81  44  67
  86  65  55  62  63  88  62  59  68  77]

In [ ]:
# Task 1.2: NumPy Array Operations

import numpy as np

# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

In [ ]:
# 1. Calculate mean, median, std, min, max for each subject
print("math scores - Mean:", np.mean(math_scores))
print("math scores - Median:", np.median(math_scores))
print("math scores - Std:", np.std(math_scores))
print("math scores - Min/Max:", np.min(math_scores),"/", np.max(math_scores))

print("reading scores - Mean:", np.mean(reading_scores))
print("reading scores - Median:", np.median(reading_scores))
print("reading scores - Std:", np.std(reading_scores))
print("reading scores - Min/Max:", np.min(reading_scores),"/", np.max(reading_scores))

print("writing scores - Mean:", np.mean(writing_scores))
print("writing scores - Median:", np.median(writing_scores))
print("writing scores - Std:", np.std(writing_scores))
print("writing scores - Min/Max:", np.min(writing_scores),"/", np.max(writing_scores))

math scores - Mean: 66.089
math scores - Median: 66.0
math scores - Std: 15.155496659628149
math scores - Min/Max: 0 / 100
reading scores - Mean: 69.169
reading scores - Median: 70.0
reading scores - Std: 14.592890015346516
reading scores - Min/Max: 17 / 100
writing scores - Mean: 68.054
writing scores - Median: 69.0
writing scores - Std: 15.188057281956768
writing scores - Min/Max: 10 / 100

In [ ]:
# 2. Total students who scored above 80 in math
high_math = math_scores > 80
print("Students with high math scores:", np.sum(high_math))

Students with high math scores: 176

In [ ]:
# 3. Total students who scored below 50 in any subject
any_below_50 = np.sum((math_scores < 50) | (reading_scores < 50) | (writing_scores < 50))
print("Students with any score < 50:", any_below_50)

Students with any score < 50: 188

In [ ]:
# 4. Overall average score across all three subjects
overall_avg = np.mean([math_scores, reading_scores, writing_scores])
print("Overall average score across all subjects:",overall_avg)

Overall average score across all subjects: 67.77066666666667

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:

In [ ]:
# 1. Check for null values in each column
print("Missing Values Check:")
print(df.isnull().sum())

Missing Values Check:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [85]:
# 2. Check for impossible values (scores > 100 or < 0)
print("\nCheck for impossible scores:")
for col in ['math score', 'reading score', 'writing score']:
    count = ((df[col] < 0) | (df[col] > 100)).sum()
    print(col, "has", count, "impossible values")

Check for impossible scores:
math score has 0 impossible values
reading score has 0 impossible values
writing score has 0 impossible values

In [86]:
total_missing = 0
total_impossible = 0
print("\nData Quality Summary:")
if total_missing == 0 and total_impossible == 0:
    print("No missing values and no impossible scores.")

Data Quality Summary:
No missing values and no impossible scores.

In [87]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

# Continue the task...
# Your code here:

Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [92]:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Step 1: Original missing values:")
print(df_practice.isnull().sum())

# Step 2: Create missing data
import numpy as np
np.random.seed(42)  # For reproducibility (always same result)

# Pick 50 random rows for math score to become NaN
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
df_practice.loc[missing_math_idx, 'math score'] = np.nan

# Pick 30 random rows for writing score to become NaN
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

print("\nStep 2: After creating missing values:")
print(df_practice.isnull().sum())

# Step 3: Fill missing math scores with the MEDIAN
median_math = df_practice['math score'].median()
df_practice['math score'].fillna(median_math, inplace=True)

# Step 4: Fill missing writing scores with the MEAN
mean_writing = df_practice['writing score'].mean()
df_practice['writing score'].fillna(mean_writing, inplace=True)

print("\nStep 3 & 4: After fixing missing values:")
print(df_practice.isnull().sum())

# Step 5: Verify
if df_practice.isnull().sum().sum() == 0:
    print("\n All missing values fixed! Dataset is clean again.")
else:
    print("\n Some missing values remain, please check.")

Step 1: Original missing values:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Step 2: After creating missing values:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64

Step 3 & 4: After fixing missing values:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

 All missing values fixed! Dataset is clean again.

/tmp/ipython-input-1233329582.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['math score'].fillna(median_math, inplace=True)
/tmp/ipython-input-1233329582.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['writing score'].fillna(mean_writing, inplace=True)

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:

In [77]:
# Task 3.1: Answer Simple Questions About Student Performance

# 1. Display first 5 rows
print("1. First 5 rows:")
print(df.head())

# 2. Display last 5 rows
print("\n2. Last 5 rows:")
print(df.tail())

# 3. Show dataset shape
print("\n3. Dataset shape (rows, columns):")
print(df.shape)

# 4. Show column names
print("\n4. Column names:")
print(df.columns)

# 5. Show data types
print("\n5. Data types of each column:")
print(df.dtypes)

# 6. Show basic info
print("\n6. Basic info of dataset:")
print(df.info())

1. First 5 rows:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

2. Last 5 rows:
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

3. Dataset shape (rows, columns):
(1000, 8)

4. Column names:
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

5. Data types of each column:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

6. Basic info of dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [ ]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:

In [95]:
# 1. Group by 'gender'
print("1. Group by Gender:")
gender_group = df.groupby('gender').agg(
    math_avg = ('math score', 'mean'),
    reading_avg = ('reading score', 'mean'),
    writing_avg = ('writing score', 'mean'),
    student_count = ('gender', 'count')
)
print(gender_group)

1. Group by Gender:
         math_avg  reading_avg  writing_avg  student_count
gender
female  63.633205    72.608108    72.467181            518
male    68.728216    65.473029    63.311203            482

In [99]:
# 2. Group by 'test preparation course'
print("\n#2. Group by Test Preparation Course:")
testprep_group = df.groupby('test preparation course').agg(
    math_avg = ('math score', 'mean'),
    reading_avg = ('reading score', 'mean'),
    writing_avg = ('writing score', 'mean')
)
print(testprep_group)
diff = testprep_group.loc['completed'] - testprep_group.loc['none']
print(diff)
print(" The subject with the highest improvement is:", diff.idxmax())

#2. Group by Test Preparation Course:
                          math_avg  reading_avg  writing_avg
test preparation course
completed                69.695531    73.893855    74.418994
none                     64.077882    66.534268    64.504673
math_avg       5.617649
reading_avg    7.359587
writing_avg    9.914322
dtype: float64
 The subject with the highest improvement is: writing_avg

In [102]:
# 3. Group by 'parental level of education'
print("\n 3. Group by Parental Level of Education (Math Avg):")
parent_group = df.groupby('parental level of education')['math score'].mean().sort_values(ascending=False)
print(parent_group)

 3. Group by Parental Level of Education (Math Avg):
parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64

In [103]:
# 4. Group by 'lunch'
print("\n4. Group by Lunch Type:")
lunch_group = df.groupby('lunch').agg(
    math_avg = ('math score', 'mean'),
    reading_avg = ('reading score', 'mean'),
    writing_avg = ('writing score', 'mean'),
    student_count = ('lunch', 'count')
)
print(lunch_group)

4. Group by Lunch Type:
               math_avg  reading_avg  writing_avg  student_count
lunch
free/reduced  58.921127    64.653521    63.022535            355
standard      70.034109    71.654264    70.823256            645

In [ ]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

In [106]:
# 1. Who performs better in math - males or females?
print("1. Gender Comparison in Math:")
math_by_gender = df.groupby("gender")["math score"].mean()
print(math_by_gender)

diff = math_by_gender["male"] - math_by_gender["female"]
if diff > 0:
    print("Males perform better in math on average.")
else:
    print("Females perform better in math  on average.")

1. Gender Comparison in Math:
gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
Males perform better in math on average.

In [110]:
# 2. Which subject do students perform best in overall?
print("\n2. Best Subject Overall:")
subject_means = {
    "Math": df["math score"].mean(),
    "Reading": df["reading score"].mean(),
    "Writing": df["writing score"].mean()
}
subject_means = pd.Series(subject_means).sort_values(ascending=False)
print(subject_means)
print(f"Students perform best in {subject_means.index[0]} overall.")

2. Best Subject Overall:
Reading    69.169
Writing    68.054
Math       66.089
dtype: float64
Students perform best in Reading overall.

In [114]:
# 3. What's the impact of parental education?
print("\n3. Impact of Parental Education:")
df["total score"] = df["math score"] + df["reading score"] + df["writing score"]
parental_per = df.groupby("parental level of education")["total score"].mean().sort_values(ascending=False)
print(parental_per)
print(f" Highest student performance is for parents with '{parental_per.index[0]}' education level.")

3. Impact of Parental Education:
parental level of education
master's degree       220.796610
bachelor's degree     215.771186
associate's degree    208.707207
some college          205.429204
some high school      195.324022
high school           189.290816
Name: total score, dtype: float64
 Highest student performance is for parents with 'master's degree' education level.