<a href="https://colab.research.google.com/github/diptokundu/Skill_morph_HW/blob/main/DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2

## 2.1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name="Dipto"
age=25
favoriteColor="off-white"
print('My Name is',name)
print('I am' ,age,'years old')
print('My favorite color is',favoriteColor)

My Name is Dipto
I am 25 years old
My favorite color is off-white

## 2.2. Create one variable of each type and use the type() function to verify its type.

In [ ]:
age = 10
pi_value = 3.141529
sms = "Hello"
is_gender = True
classes = [1, 2, 3]
coordinate = (4, 5, 6)
numbers = {1, 2, 3, 3}

print(type(age))
print(type(pi_value))
print(type(sms))
print(type(classes))
print(type(coordinate))
print(type(is_gender))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'dict'>
<class 'set'>

## 2.3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length,width=7,5
area=length*width
perimeter=2*(length+width)
print('The area and perimeter of the rectangle is',area,'and',perimeter)

The area and perimeter of the rectangle is 35 and 24

## 2.4. Create a list of 5 Bangladeshi foods, then access the first and last elements

In [ ]:
foods = ["Biriyani", "Panta Ilish", "jhalmuri", "Khichuri", "Rosogolla"]

first_food = foods[0]
last_food = foods[4]

print("First food:", first_food)
print("Last food:", last_food)

First food: Biriyani
Last food: Rosogolla

## 2.5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
numbers=[1,2,3,4,5]
numbers.append(6)
numbers.remove(1)
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

## 2.6. Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
myself={
    "Name":"Dipto",
    "age" : 25,
    "University":"university of Rajshahi",
    "Department": "Statistics"
}
myself["phone"]="007"

print(myself)

{'Name': 'Dipto', 'age': 25, 'University': 'university of Rajshahi', 'Department': 'Statistics', 'phone': '007'}

## 2.7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
location=(20,90)
print('The latitude and longitude of Rajshahi is:',location)

The latitude and longitude of Rajshahi is: (20, 90)

## 2.8. Create two sets of colors and find their union and intersection

In [ ]:
my_choice={"red","green","yellow"}
my_fnd_choice={"green","black","orange"}
pick=my_choice | my_fnd_choice
picks= my_choice & my_fnd_choice
print(pick)
print(picks)

{'green', 'red', 'orange', 'yellow', 'black'}
{'green'}

## 2.9. Write a program that checks if a number is positive, negative, or zero.

In [ ]:
number = int(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 10
The number is positive.

## 2.10. Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
age = int(input("Enter your age: "))
is_student = input("Are you a student?")

if (is_student == "yes" and age < 25) or (age > 60):
    print("You are eligible for a discount.")
else:
    print("You are not eligible for a discount.")

Enter your age: 26
Are you a student?yes
You are not eligible for a discount.

## 2.11. Write a program that prints the first 10 even numbers using a for or while loop.

In [ ]:
for i in range(2, 21, 2):  # start=2, end=20, step=2
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
i = 2
count = 0
while count < 10:
    print(i)
    i += 2
    count += 1

2
4
6
8
10
12
14
16
18
20

## 2.12. Write a program that prints a simple number pyramid pattern using nested loops.

In [68]:
num = 5
for i in range(1, num + 1):
    for space in range(num - i):
        print(" ", end="")
    for r in range(1, i + 1):
        print(r, end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

## 2.13. Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

In [64]:
cel = float(input("Enter temperature in Celsius: "))

def cel_to_far(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
far=cel_to_far(cel)
print(f"{cel} C is equal to {far}F")

Enter temperature in Celsius: 10
10.0 C is equal to 50.0F

## 2.14. Create a function with default parameters that calculates the area of a rectangle

In [66]:
def area_tringle(length, width):
    area=length*width
    return area
area=area_tringle(5,7)
print(f"The area of the tringle is:",area)

The area of the tringle is: 35